<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rosy.main.mapper.LiveViewerStatsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rosy.main.domain.entity.LiveViewerStats">
        <id column="id" property="id"/>
        <result column="room_id" property="roomId"/>
        <result column="user_id" property="userId"/>
        <result column="enter_time" property="enterTime"/>
        <result column="leave_time" property="leaveTime"/>
        <result column="stay_duration" property="stayDuration"/>
        <result column="is_login" property="isLogin"/>
        <result column="ip_address" property="ipAddress"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, room_id, user_id, enter_time, leave_time, stay_duration, is_login, ip_address, create_time
    </sql>

</mapper>
